/* Global reset
   http://meyerweb.com/eric/tools/css/reset/ 
   *****************************************************************/

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
   	margin: 0;
   	padding: 0;
   	border: 0;
   	font-size: 100%;
   	font: inherit;
   	vertical-align: baseline;

   }

   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
   	display: block;
   }
   body {
   	line-height: 1;
   }
   ol, ul {
   	list-style: none;
   }
   blockquote, q {
   	quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
   	content: '';
   	content: none;
   }
   table {
   	border-collapse: collapse;
   	border-spacing: 0;
   }

   
/*Fontes
*********************************************************************************************/
/*Fonte para H1 */
@font-face {
	font-family: 'galanogrotesque-tuploadedfile';
	src: url('fonte/galano_grotesque_thin-webfont.eot');
	src: url('fonte/galano_grotesque_thin-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonte/galano_grotesque_thin-webfont.woff2') format('woff2'),
	url('fonte/galano_grotesque_thin-webfont.woff') format('woff'),
	url('fonte/galano_grotesque_thin-webfont.ttf') format('truetype'),
	url('fonte/galano_grotesque_thin-webfont.svg#galanogrotesque-tuploadedfile') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*Fonte para os <p>*/
@font-face {
	font-family: 'galanogrotesquealuploadedfile';
	src: url('fonte/galano_grotesque_alt_light-webfont.eot');
	src: url('fonte/galano_grotesque_alt_light-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonte/galano_grotesque_alt_light-webfont.woff2') format('woff2'),
	url('fonte/galano_grotesque_alt_light-webfont.woff') format('woff'),
	url('fonte/galano_grotesque_alt_light-webfont.ttf') format('truetype'),
	url('fonte/galano_grotesque_alt_light-webfont.svg#galanogrotesquealuploadedfile') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Extended base styles (site specific)
*****************************************************************/

html { 
	overflow-y: scroll; /* always force a scrollbar in non-IE */
}
body {
	background: #e3e5e5;
	overflow: hidden;
	line-height: 1.5;
	color: #000;
	font-size: 14px;
}
h1 {
	color: #21a97e;
	margin-top: 30px;
	font-family: 'galanogrotesque-tuploadedfile';
	/* color: rgba(46, 204, 113,1.0); */
}
a, a:link,
a:active,
a:visited {
	-webkit-transition: color 0.25s ease-out;
	-moz-transition: color 0.25s ease-out;
	-o-transition: color 0.25s ease-out;
	transition: color 0.25s ease-out;
	color:#21a97e;
	outline: none;
	text-decoration:none;
}
a:hover { 
	color:#000;
}
img { 
	display:block;
}

nav img { 
	display:block;
	float: left;
	height: 70px;
	margin-top: -3px;
}

p {
	margin:1em 0;
	font-size: 18px;
	font-family: 'galanogrotesquealuploadedfile';
}

:focus {
	outline: 0;
}
/*Header
*****************************************************************/

header{
	width: 100%;
	height: 800px;
	margin: 0 auto;
	left: 0px;
}

.bgParallax {
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
	min-height: 100%;
	/*background-image:url(img/IdeiasFaded.png);*/
	background-position: 50% 0;
	background-repeat: repeat;
	background-attachment: fixed;
	overflow: hidden;

	-webkit-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
	-moz-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
	-ms-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
	-o-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
	box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
}

img.logo{
	float: none;
	display: block;
	margin-left: auto;
	margin-right:auto; 
	padding-top: 13em;
	width: 25%;
}

header > h1{
	text-align: center;
	font-size: 4em;
	color: #000;
	text-shadow:0 0 10px rgba(0,0,0,0.7);
	padding-top: 10px; 
	font-weight: bolder;
}

/* Nav Principal
*****************************************************************/

a#principal {
	text-decoration:none;
	color:#F8F8F8;
	-webkit-transition:color 0.5s ease-out;
	-moz-transition:color 0.5s ease-out;
	-o-transition:color 0.5s ease-out;
	-ms-transition:color 0.5s ease-out;
}

nav#principal{
	background-color: #fff;
	height: 60px;
	top: 0px;
	left: 0px;
	z-index: 99;
	border-bottom: 1px solid #fff;
	width: 100%;
	position: fixed;
}

nav#principal > img{
	margin-left: 25px; 
	width: 80px;
	float: left;
}


nav#principal > ul{
	list-style-type: none;
	width: 50%;
	border-bottom: 1px solid #353535;
	margin: 0;
	padding-right: 10px;
	width: auto;
	position: relative;
	font-size: 28px;
}

nav#principal > ul > li{
	display: inline-block;
	padding: 8px;
}

nav#principal > ul > li > a:link{
	color: black;
	line-height: 55px;
	text-decoration: none;
	filter:alpha(opacity=100);
	-moz-opacity:1;
	opacity:1;
}

nav#principal > ul > li > a:visited{
	color: black;
}

nav#principal > ul > li > a:hover{
	color: #6FBF73;
}

div#cssmenu{
	width: 8 00px;
	height: 60px;
	padding-right: 95px;
	margin: 0 auto;
	display:table;
}

#cssmenu ul:before {
	content: '';
	display: block;
}
#cssmenu ul:after {
	content: '';
	display: table;
	clear: both;
}
#cssmenu li {
	display: block;
	float: left;
	margin: 0;
	padding: 0 4px;
}
#cssmenu li a {
	display: block;
	color: #000000;
	text-decoration: none;
	padding: 16px 16px 9px 19px;
	border-bottom: 3px solid transparent;
	font-size: 23px;
	font-family: 'galanogrotesque-tuploadedfile';
	font-weight:bold;
}
#cssmenu li a:hover {
	color: #6FBF73;
	border-bottom: 2px solid #000000;

}
#cssmenu li.active a {
	display: inline;
	border-bottom: 2px solid #000000;
	margin: 0 auto;
}

.pagina-ativa{
	display: inline;
	border-bottom: 2px solid #000000 !important;
	margin: 0 auto; 
}

/* Caixa Escura
*****************************************************************/

#caixa-escura {
	background-color:rgba(72,72,72,0.6);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 565px;
	left: 50%;
	margin: 0 auto;
	-moz-border-radius: 7px;
	-webkit-border-radius: 0px;
	margin-top: 20px;
}

/* Nav Direita e Setas
*****************************************************************/

nav#primary {
	z-index: 5;
	position: fixed;
	top: 50%;
	right: 16px;
	margin-top: -40px;
}
nav#primary li {
	position: relative;
	height: 20px;
}
nav#primary a {
	display: block;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
	background: transparent url(img/nav-dot2.png) 4px 4px no-repeat;
}
nav#primary a:hover, nav#primary a.active {
	background: transparent url(img/nav-dot2.png) 4px -19px no-repeat;
}
nav#primary h1 {
	position: absolute;
	right: 22px;
	top: -35px;
	display: none;
	padding: 4px 20px 4px 7px;;
	color: #fff;
	white-space: nowrap;
	background: transparent url(img/nav-arrow.png) 100% 50% no-repeat;
	font-size: 1.3em;
}
nav.next-prev {
	margin: 20px 0 0 0;
}
a.prev,
a.next {
	display: block;
	width: 15px;
	height: 11px;
	text-indent: -9999px;
}
a.prev {
	margin: 0 190px 5px;
	background: transparent url(img/scroll-arrow-up.png) 0 0 no-repeat;
}
a.prev:hover {
	background: transparent url(img/scroll-arrow-up.png) 0 -11px no-repeat;
}
a.next {
	margin: 5px 190px 0;
	background: transparent url(img/scroll-arrow-down.png) -1px 0 no-repeat;
}
a.next:hover {
	background: transparent url(img/scroll-arrow-down.png) -1px -11px no-repeat;
}



/* Parallax Conteúdo
*****************************************************/
body{
	background-color:#fff;
	
}

section {
	width: 100%;
	height: 806px;
	margin: 0 auto;
	line-height: 1.7;	
	float: left;
	overflow: hidden;
}

#manned-flight{
	background-image:url(img/IdeiasFaded.png);
	background-repeat:no-repeat;
}

section > h1 {
	font-size: 60px;
	font-weight: bolder;
	line-height: 65px;
	width: 400px;
	padding-left: 150px;
	padding-top: 100px;
	
}

section > p{
	width: 550px;
	color: #000;
	font-size: 18px;
	margin: 0 auto;
	padding-top: 50px;
	margin-top: 65px;
}

#header{
	/*background-color:#F9F5F6;*/
	background-color: #fff;
	width:100%;
	height:806px;
}

#manned-flight h1{
	margin-top: 53px;
	color: rgba(236, 240, 241,1.0);
}

#manned-flight p{
	color: rgba(236, 240, 241,1.0);
}

#frameless-parachute {
	margin-bottom: 50px;
}
#english-channel {
	background-image:url(img/ti-verdeFaded.png);
	background-repeat: no-repeat;
	
}

#english-channel h1{
	color: rgba(236, 240, 241,1.0);
}

#english-channel p{
	color: rgba(236, 240, 241,1.0);
}

#about {
	margin-bottom: 50px;
}

footer{
	width: 100%;
	height: 360px;
	background-color: black;
	clear: both;
	background-repeat: no-repeat;
}

footer > img{
	width: 250px;
	margin: 0 auto;
	padding-top: 50px;
	display: block;
}
footer p{
	text-align: center;
	color: rgba(236, 240, 241,1.0);
	font-size: 18px;
	word-spacing: 5px;
	padding-top: 10px;
}

footer h1{
	width: 170px;
	font-size: 40px;
	color: rgba(236, 240, 241,1.0);
	margin: 0 auto;
	font-weight: bolder;
	padding-top: 50px;

}

footer > p:nth-child(3){
	width: 800px;
	font-size: 19px;
	color: rgba(236, 240, 241,1.0);
	margin: 0 auto;
	padding-top: 60px;
}

footer > article{
	width: 264px;
	height: 50px;
	margin: 0 auto;
	padding-top: 50px;  
}


button, .vertical, .vertical li{
	display: none;
}



/* Media Queries
***************************************************************/

@media (max-width: 900px){

	button{
		display: block;
		float: right;
		background-color: #1B9B48;
		padding: 9px 10px;
		margin-top: 8px;
		margin-right: 15px;
		margin-bottom: 8px;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
	}

	.linha{
		display: block;
		width: 22px;
		height: 2px;
		background-color: #fff;
		margin-top: 3px;
	}

	.vertical{
		z-index: 44;
		position: fixed;
		background-color: #fff;
		width: 100%;
		top: 3.2em;
		font-size: 19px;
		font-weight: bolder;
	}

	.vertical li{
		display: block;
		margin-left: 4%;

	}

	.vertical > li > a{
		position: relative;
		display: block;
		padding: 10px 15px;
		font-family: 'galanogrotesque-tuploadedfile';
	}

	div#cssmenu{
		display: none;
	}

	nav#primary{
		display: none;
	}
	
	section > h1 {
		font-size: 4em;
		width: 590px;

	}

}

@media (max-width: 770px){

	section > h1 {
		padding-left:80px; 
	}
	
	footer h1 {
		padding-top: 10px;
	}
	
}

@media (max-width: 670px){
	
	section > h1 {
		font-size: 4em;
		width: 380px;
		padding-left: 48px;
		margin-top: 0px;
	}

	#caixa-escura{
		padding-top: 3px;
		padding-bottom: 3px;
		width: 375px;
		margin-top: 30px;
	}
	
	section > p {
		width: 375px;
	}	
	
	#english-channel h1 {
		margin-top: 50px;
	}
}	


@media (max-width: 465px){
	
	#caixa-escura {
		width: 235px;
		margin-bottom: 20px;
	}	
	
	section > h1 {
		font-size: 3em;
		width: 200px;
		padding-left: 27px;
	}

	section{
		overflow: hidden;
		height: 100%;
	}
	
	.bgParallax {
		background-color: #535057;
	}

	#english-channel {
		background-color: #bcb790;
	}
}

@media (max-width: 405px){
	
	
	section > p {
		width: 275px;
	}
	
	footer p {
		font-size: 16px;
	}
	
	#caixa-escura {
		width: 218px;
		padding-left: 20px;
		padding-right: 12px;
	}


}	



/*Redes Sociais
***********************************************************************/


@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);


#icons {
	text-align: center;
	background-color: rgba(39, 174, 96,1.0);
}
#icons > div {
	display: inline-block;
	margin: 10px;
}


#fill-facebook{
	border: 2px solid white;
	width: 40px;
	overflow: hidden;
	height: 40px;
	position: relative;
	color: white;
	-webkit-transition: border-color 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out;
}
#fill-facebook > a > i{
	line-height: 45px;
	font-size: 2.0em;
	text-align: center;
	display: block;
	-webkit-transition: color 0.15s ease-in-out;
	transition: color 0.15s ease-in-out;
	position: relative;
	z-index: 10;
	text-decoration:none;
}
#fill-facebook:hover{
	border-color: rgb(59, 89, 152);
}

#fill-facebook:hover > a > i{
	color: white;
}
#fill-facebook:before{
	content: " ";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	background: rgb(59, 89, 152);
	-webkit-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}
#fill-facebook:hover:before{
	left: -5px;
	top: -5px;
	width: 45px;
	height: 45px;
}

#fill-facebook > a{
	color: white;
}


/************************************************/

#fill-linkedin{
	border: 2px solid white;
	width: 40px;
	overflow: hidden;
	height: 40px;
	position: relative;
	color: white;
	-webkit-transition: border-color 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out;
}
#fill-linkedin i{
	line-height: 45px;
	font-size: 2.0em;
	text-align: center;
	display: block;
	-webkit-transition: color 0.15s ease-in-out;
	transition: color 0.15s ease-in-out;
	position: relative;
	z-index: 10;
}
#fill-linkedin:hover{
	border-color: rgb(0, 123, 182);
}


#fill-linkedin:hover i{
	color: white;
}
#fill-linkedin:before{
	content: " ";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	background: rgb(0, 123, 182);
	-webkit-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}
#fill-linkedin:hover:before{
	left: -5px;
	top: -5px;
	width: 45px;
	height: 45px;
}

#fill-linkedin > a{
	color: white;
}

/************************************************/

#fill-instagram{
	border: 2px solid white;
	width: 40px;
	overflow: hidden;
	height: 40px;
	position: relative;
	color: white;
	-webkit-transition: border-color 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out;
}
#fill-instagram i{
	line-height: 45px;
	font-size: 2.0em;
	text-align: center;
	display: block;
	-webkit-transition: color 0.15s ease-in-out;
	transition: color 0.15s ease-in-out;
	position: relative;
	z-index: 10;
}
#fill-instagram:hover{
	border-color: rgb(81, 127, 164);
}


#fill-instagram:hover i{
	color: white;
}
#fill-instagram:before{
	content: " ";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	background: rgb(81, 127, 164);
	-webkit-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}
#fill-instagram:hover:before{
	left: -5px;
	top: -5px;
	width: 45px;
	height: 45px;
}

#fill-instagram > a{
	color: white;
}

/************************************************/

#fill-youtube{
	border: 2px solid white;
	width: 40px;
	overflow: hidden;
	height: 40px;
	position: relative;
	color: white;
	-webkit-transition: border-color 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out;
}
#fill-youtube i{
	line-height: 43px;
	font-size: 2.0em;
	text-align: center;
	display: block;
	-webkit-transition: color 0.15s ease-in-out;
	transition: color 0.15s ease-in-out;
	position: relative;
	z-index: 10;
}
#fill-youtube:hover{
	border-color: rgb(187, 0, 0);
}


#fill-youtube:hover i{
	color: white;
}
#fill-youtube:before{
	content: " ";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	background: rgb(187, 0, 0);
	-webkit-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}
#fill-youtube:hover:before{
	left: -5px;
	top: -5px;
	width: 45px;
	height: 45px;
}

#fill-youtube > a{
	color: white;
}
